@using System.Text

@if (_failedToInitialize)
{
    <div>
        Failed to initialize
    </div>
}

@{ var stringBuilder = new StringBuilder(capacity: 16); }

<div>
    CharacterWidth:@Model.Measurements.CharacterWidth<br/>
    LineHeight:@Model.Measurements.LineHeight<br/>
    EditorWidth:@Model.Measurements.EditorWidth<br/>
    EditorHeight:@Model.Measurements.EditorHeight<br/>
    EditorLeft:@Model.Measurements.EditorLeft<br/>
    EditorTop:@Model.Measurements.EditorTop<br/>
    ScrollbarLiteralWidth:@Model.Measurements.ScrollbarLiteralWidth<br/>
    ScrollbarLiteralHeight:@Model.Measurements.ScrollbarLiteralHeight<br/>
</div>

@if (_tooltipOccurred)
{
    var tooltipText = Model.GetTooltipText(_tooltip);
    if (tooltipText is null)
    {
        _tooltipOccurred = false;
    }
    else
    {
        stringBuilder.Append("left:");
        stringBuilder.Append(Math.Max(0, _tooltipClientX - Model.Measurements.ScrollbarLiteralWidth).ToString("0.##", System.Globalization.CultureInfo.InvariantCulture));
        stringBuilder.Append("px;");
        stringBuilder.Append("top:");
        stringBuilder.Append(Math.Max(0, _tooltipClientY - Model.Measurements.ScrollbarLiteralHeight).ToString("0.##", System.Globalization.CultureInfo.InvariantCulture));
        stringBuilder.Append("px;");
        var tooltipStyle = stringBuilder.ToString();
        stringBuilder.Clear();
        
        <div class="te_tooltip"
             style="@tooltipStyle">
            @tooltipText
        </div>
    }
}

<div class="te_component-class"
     tabindex="-1"
     id="te_component-id">
    
    <div>
        @{
            // This is a bit awkward because I don't believe I can stack alloc in the markup / (I think I
            // also have seen in the past that I can't stackalloc Blazor WASM maybe it was related to unsafe code?).
            //
            // I'm going to throw an initial capacity based on feeling alone.
            // If this is 64, it hopefully will often miss a reallocation.
            // I'm not sure on the details of what me making this initial capacity larger
            // would have on the collection of this StringBuilder so... 64 is the number for now I guess.
            var spanBuilder = new StringBuilder(capacity: 64);
            
            var currentDecorationByte = 0;
        }
        
        if (Model.DecorationArray is null || Model.DecorationArray.Length <= i)
        {
            // I'm just going to avoid the decorations if things look sketchy.
            // I need to figure out how to do this with good precision.
            //
            // In the IDE repo, I put the character and the decoration byte as a singular struct.
            // Thus the Content and the decorations are in the same "List".
            // But that forces you to carry around decorations even if you don't intend on using them...
            <text>@Model.Content.ToString()</text>
        }
        else
        {
            @for (int i = 0; i < Model.Content.Length; i++)
            {
                if (Model.DecorationArray.Length > i)
                {
                    
                }
            }
        }
    </div>
    
    @{
        stringBuilder.Append("left:");
        //
        // Two decimal places for the double values avoids excessive information being sent when the visual difference is negligible.
        //
        // Avoid ',' in css when user's culture would default to using that in place of '.'
        // with System.Globalization.CultureInfo.InvariantCulture
        //
        stringBuilder.Append((Model.Measurements.CharacterWidth * Model.PositionIndex).ToString("0.##", System.Globalization.CultureInfo.InvariantCulture));
        stringBuilder.Append("px;");
        var cursorStyle = stringBuilder.ToString();
        stringBuilder.Clear();
    }
    <div class="te_cursor-class"
         id="te_cursor-id"
         style="@cursorStyle">
    </div>
</div>
