

<div>
    CharacterWidth:@Model.Measurements.CharacterWidth<br/>
    LineHeight:@Model.Measurements.LineHeight<br/>
    EditorWidth:@Model.Measurements.EditorWidth<br/>
    EditorHeight:@Model.Measurements.EditorHeight<br/>
    EditorLeft:@Model.Measurements.EditorLeft<br/>
    EditorTop:@Model.Measurements.EditorTop<br/>
    ScrollbarLiteralWidth:@Model.Measurements.ScrollbarLiteralWidth<br/>
    ScrollbarLiteralHeight:@Model.Measurements.ScrollbarLiteralHeight<br/>
</div>

<div class="te_component-class"
     tabindex="-1"
     id="te_component-id"
     @onclick="FocusOnClick"
     @onkeydown="OnKeydown"
     @onkeydown:preventDefault="true">
    
    @Model.Content.ToString()
    
    <div class="te_cursor-class"
         id="te_cursor-id"
         style="">
    </div>
</div>
