@using System.Text

@if (_failedToInitialize)
{
    <div>
        Failed to initialize
    </div>
}

@{ var stringBuilder = new StringBuilder(capacity: 16); }

<div>
    CharacterWidth:@Model.Measurements.CharacterWidth<br/>
    LineHeight:@Model.Measurements.LineHeight<br/>
    EditorWidth:@Model.Measurements.EditorWidth<br/>
    EditorHeight:@Model.Measurements.EditorHeight<br/>
    EditorLeft:@Model.Measurements.EditorLeft<br/>
    EditorTop:@Model.Measurements.EditorTop<br/>
    ScrollbarLiteralWidth:@Model.Measurements.ScrollbarLiteralWidth<br/>
    ScrollbarLiteralHeight:@Model.Measurements.ScrollbarLiteralHeight<br/>
</div>

@if (_tooltipOccurred)
{
    var tooltipText = Model.GetTooltipText(_tooltip);
    
    stringBuilder.Append("left:");
    stringBuilder.Append(_tooltipClientX.ToString("0.##", System.Globalization.CultureInfo.InvariantCulture));
    stringBuilder.Append("px;");
    stringBuilder.Append("top:");
    stringBuilder.Append(_tooltipClientY.ToString("0.##", System.Globalization.CultureInfo.InvariantCulture));
    stringBuilder.Append("px;");
    var tooltipStyle = stringBuilder.ToString();
    stringBuilder.Clear();
    
    <div style="@tooltipStyle">
        @tooltipText
    </div>
}

<div class="te_component-class"
     tabindex="-1"
     id="te_component-id"
     @onkeydown="OnKeydown"
     @onkeydown:preventDefault="true">
    
    @Model.Content.ToString()
    
    @{
        stringBuilder.Append("left:");
        //
        // Two decimal places for the double values avoids excessive information being sent when the visual difference is negligible.
        //
        // Avoid ',' in css when user's culture would default to using that in place of '.'
        // with System.Globalization.CultureInfo.InvariantCulture
        //
        stringBuilder.Append((Model.Measurements.CharacterWidth * Model.PositionIndex).ToString("0.##", System.Globalization.CultureInfo.InvariantCulture));
        stringBuilder.Append("px;");
        var cursorStyle = stringBuilder.ToString();
        stringBuilder.Clear();
    }
    <div class="te_cursor-class"
         id="te_cursor-id"
         style="@cursorStyle">
    </div>
</div>
