

<div>

    @Model.Measurements.CharacterWidth<br/>
    @Model.Measurements.LineHeight

</div>

<div class="te_component-class"
     tabindex="-1"
     id="te_component-id"
     @onclick="FocusOnClick"
     @onkeydown="OnKeydown"
     @onkeydown:preventDefault="true">
    
    @Model.Content.ToString()
    
    <div class="te_cursor-class"
         id="te_cursor-id">
    </div>
</div>
