
<div class="te_component-class"
     tabindex="-1"
     id="te_component-id"
     @onclick="FocusOnClick"
     @onkeydown="OnKeydown"
     @onkeydown:preventDefault="true">
    
    @TextEditorModel.Content.ToString()
    
    <div class="te_cursor-class"
         id="te_cursor-id">
    </div>
</div>
