:root {
    --te_line-height: 30px;
}

.te_component-class {
    cursor: text;
    border: 2px solid red;
    font-family: monospace;
    overflow: scroll;
    position: relative;
    min-height: 50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.te_component-class:focus {
    border: 2px solid purple;
}


.te_select {
    position: absolute;
    height: var(--te_line-height);
    background-color: #0071ff;
    opacity: 0.3;
}

.te_cursor-class {
    width: 2.5px;
    height: var(--te_line-height);
    background-color: currentColor;
    position: absolute;
    left: 0;
    top: 0;
}

.te_tooltip {
    position: fixed;
    background-color: orange;
    min-width: 30px;
    min-height: 30px;
}

.te_k {
    /*
        te_k => texteditor_keyword
        
        The CSS classes that used for syntax highlighting could theoretically add up.
        For example, if there were a screen full of characters.
        And each character had a different syntax highlighting applied to it.
        Then each character writes HTML for the span, and the HTML attribute name "class" and the attribute value.
        
        Thus this class name is somewhat cryptic.
    */
    color: blue;
}
