@page "/"
@using TextEditor

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<TextEditorComponent Model="_model" />

<button class="btn btn-primary" @onclick="GetTextOnClick">
    Get text
</button>

@code {
    [Inject]
    private IJSRuntime JsRuntime { get; set; } = null!;

    private TextEditorModel _model = new();

    protected override void OnInitialized()
    {
        _model.TooltipList = new();
        _model.SetText("test.abc\ndfg.test\naaaaaaaaaaaaaaaaaaaaaaa\nbbbbbbbbbbbbbbbbbbbbbb\ncccccccccccccccccccccccc\nddddddddddddddddd\neeeeeeeeeeeeeeeeee");
        _model.TooltipList.Add(new TextEditorTooltip(
            startPositionIndex: 0,
            endPositionIndex: 1,
            foreignKey: 0,
            byteKind: TextEditorModel.CharacterTooltipByteKind));
        _model.EnableDecorations();
        _model.ReceiveKeyboardDebounce();
    }

    private void GetTextOnClick()
    {
        JsRuntime.InvokeVoidAsync("alert", _model.ToString());
    }
}
