@page "/"
@using TextEditor

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@{
    var model = new TextEditorModel();
    model.TooltipList = new();
    model.TooltipList.Add(new TextEditorTooltip(
        startPositionIndex: 0,
        endPositionIndex: 1,
        foreignKey: 0,
        byteKind: TextEditorModel.CharacterTooltipByteKind));
    model.EnableDecorations();
}

<TextEditorComponent Model="model" />
