:root {
    --te_line-height: 30px;
}

.te_theme {
    background-color: var(--te_background-color);
    color: var(--te_color);
}

.te_component-class {
    cursor: text;
    border: 2px solid red;
    font-family: monospace;
    overflow: scroll;
    position: relative;
    height: 250px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.te_component-class:focus {
    border: 2px solid purple;
}

.te_total-height {
    width: 1px;
    position: absolute;
    left: 0;
    top: 0;
}

.te_select {
    position: absolute;
    height: var(--te_line-height);
    background-color: var(--te_selection);
}

.ide_te_blink {
    animation: ide_te_blink-animation 1s infinite;
}

@keyframes ide_te_blink-animation {
    0% {
        opacity: 0
    }

    49% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}

.te_measure {
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
}

.te_cursor-class {
    width: 2.5px;
    height: var(--te_line-height);
    background-color: currentColor;
    position: absolute;
    left: 0;
    top: 0;
}

.te_row {
    height: var(--te_line-height);
    position: relative;
}

.te_tooltip {
    position: fixed;
    background-color: var(--te_secondary-background-color);
    min-width: 30px;
    min-height: 30px;
    padding: 10px 15px;
    outline: 1px solid var(--te_overlay-shadow-color);
}

.te_k {
    /*
        te_k => texteditor_keyword
        
        The CSS classes that used for syntax highlighting could theoretically add up.
        For example, if there were a screen full of characters.
        And each character had a different syntax highlighting applied to it.
        Then each character writes HTML for the span, and the HTML attribute name "class" and the attribute value.
        
        Thus this class name is somewhat cryptic.
    */
    color: var(--te_keyword);
}

.te_dark {
    --te_background-color: #1E1E1E;
    --te_color: #DCDCDC;
    --te_secondary-background-color: rgb(45, 45, 45);
    --te_keyword: rgb(86, 156, 214);
    --te_selection: #245B82;
    --te_overlay-shadow-color: #949494;
}

.te_light {
    --te_background-color: white;
    --te_color: black;
    --te_secondary-background-color: rgb(245, 245, 245);
    --te_keyword: rgb(0, 0, 255);
    --te_selection: #ADD6FF;
    --te_overlay-shadow-color: #4a4a4a;
}
